.main_Container {
    position: relative;
    flex-wrap: wrap;
}

body {
    font-size: 30px;
}
.center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.flex {
    display: inline-flex;
}
.Character {
    background: url(http://i913.photobucket.com/albums/ac331/Superjustinbros/Sprite%20Sheets/ChampPac-EmSpriteProject.png) no-repeat #8b8782;
    background-size: 55.444666em 25.44333em;
    font-size: 2em;
    width: 1em;
    height: 1em;
}
.PacPerson {
    animation: steps(3) .4s;
}

.Ghost {
    animation: steps(2) .5s;
}

.Dying {
    animation: steps(2) .5s;
}

.animate {
    left: 5em;
    animation-iteration-count: infinite;
}

@keyframes PacMan {
    0% {background-position: -15em 0em; }
    100% {background-position: -18.2em 0em; }
}

@keyframes MsPacMan {
    0% {background-position: -15em -16.7em; }
    100% {background-position: -18.2em -16.7em; }
}

@keyframes Blinky {
    0% {background-position: -15em -4.5em; }
    100% {background-position: -17.15em -4.5em;}
}

@keyframes Pinky {
    0% {background-position: -15em -5.6em; }
    100% {background-position: -17.15em -5.6em;}
}

@keyframes Inky {
    0% {background-position: -17.15em -6.7em; }
    100% {background-position: -19.3em -6.7em;}
}

@keyframes Clyde {
    0% {background-position: -15em -7.8em; }
    100% {background-position: -17.15em -7.8em;}
}

@keyframes DeadGhost {
    0% {background-position: -24.5em -5.5em; }
    100% {background-position: -26.65em -5.5em;}
}

@keyframes Edible {
    0% {background-position: -23.5em -4.5em; }
    100% {background-position: -25.65em -4.5em;}
}

@keyframes Dying {
    0% {background-position: -24.5em -4.5em; }
    100% {background-position: -26.65em -4.5em;}
}