.main_Container {
    position: relative;
    flex-wrap: wrap;
    font-size: 12px;
    font-family: monospace;
}

.center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.flex {
    display: inline-flex;
}
.Character {
    background: url(http://i.imgur.com/8HQFfgG.gif) no-repeat #8b0685;
    background-size: 21em 18em;
    font-size: 2em;
    width: 1em;
    height: 1em;
}
.PacPerson {
    animation: steps(3) .4s;
}

.Ghost {
    animation: steps(2) 1s;
}

.animate {
    left: 5em;
    animation-iteration-count: infinite;
}

@keyframes PacMan {
    0% {background-position: 0em 0em; }
    100% {background-position: -3em 0em; }
}

@keyframes MsPacMan {
    0% {background-position: -3em -0em; }
    100% {background-position: -6em -0em; }
}

@keyframes Blinky {
    0% {background-position: -0em -1em; }
    100% {background-position: -2em -1em;}
}

@keyframes Pinky {
    0% {background-position: -0em -2em; }
    100% {background-position: -2em -2em;}
}

@keyframes Inky {
    0% {background-position: -0em -3em; }
    100% {background-position: -2em -3em;}
}

@keyframes Clyde {
    0% {background-position: -0em -4em; }
    100% {background-position: -2em -4em;}
}

@keyframes DeadGhost {
    0% {background-position: -2em -6em; }
    100% {background-position: -4em -6em;}
}

@keyframes Edible {
    0% {background-position: -0em -6em; }
    100% {background-position: -2em -6em;}
}

@keyframes Dying {
    0% {background-position: -4em -6em; }
    100% {background-position: -6em -6em;}
}